
    .reveal .slides section {
        text-align: left;
    }

    h3{
        font-size: 50px;
        margin-top: 1em;
        margin-bottom: .5em;
    }
    p,li{
        font-size: 35px;
    }
    /* .reveal .slides section>* {
        margin-left: 0;
        margin-right: 0;
    }  */