body{
    color: white !important;
}
    .reveal .slides section {
        text-align: left;
    }

    h3{
        font-size: 50px !important;
        margin-top: 1em;
        margin-bottom: .5em;
    }
    p,li{
        font-size: 30px;
    }
    /* .reveal .slides section>* {
        margin-left: 0;
        margin-right: 0;
    }  */

    .icon {
        width: 50px;
        height: 50px;
        margin-right: 50px;
    }

    ul{
        background: rgba(50,50,50,0.5);
        padding-top: 10px;
        padding-bottom: 10px;
        border-radius: 10px;
        width: 97%;
    }

    section.transparent{
        background-color: transparent !important;
    }

    img.fullscreen{
        height: 85vh;
        display: block;
        margin: auto;
    }

    ul {
        list-style: none; /* Remove default bullets */
      }
      
      ul li::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: #15aabf; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
      }

      .w-87{
          width: 87vw;
      }